.inicialBg{
    background-image: linear-gradient(45deg, var(--color001), var(--color002));
    height: 100vh;
    width: 90%;
    padding: 0 4%;
}
.TelaCard{
    background-color:   rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.TelaCard .logo h1{
    text-align: center;
    font-size: 60px;
    color: #e0e0e0;
    font-weight: bold;
}
.TelaCard .logo h1 span{
    font-weight: 300;
}
.TelaCard .logo p{
    color: #e0e0e0;    
    font-weight: bold;
    text-align: center;
}
.TelaCard .botao{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;

}

.TelaCard .botao a button{
    background-color: transparent;
    border: none;
    color: #e0e0e0;
    font-weight: bold;
    font-size: 16px;
    width: 150px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.TelaCard .botao a button:hover{
    color: #000;
    background-color: #e0e0e0;
    transition: all 1.3s;
}