@page "/analisador"
@inherits AnalisadorRazor

<div class="inicialBg">
    <div class="TelaCard">
        <div class="logo">
            <h1>Lock<span>Gen</span></h1>
            <p>Analise a força da sua senha</p>
        </div>

        <div class="analise">
            <input type="text" @bind="manualPassword" placeholder="Digite uma senha..." />
            <p>
                Força da Senha Manual: <span style="color:@manualStrengthColor">@manualPasswordStrength</span>
            </p>
        </div>

        <div class="botao">
            <a>
                <button @onclick="AnalyzePassword">Analisar</button>
            </a>
            <a href="">
                <button>Voltar</button>
            </a>
        </div>

    </div>
</div>
@code {
    private int passwordLength = 12;
    private bool useUppercase = true;
    private bool useDigits = true;
    private bool useSpecial = true;
    private string password = "";
    private string passwordStrength = "";
    private string strengthColor = "black";
    private string copyMessage = "";
    
    private string manualPassword = "";
    private string manualPasswordStrength = "";
    private string manualStrengthColor = "black";

    private void GeneratePassword()
    {
        password = PasswordGenerator.Generate(passwordLength, useUppercase, useDigits, useSpecial);
        passwordStrength = PasswordStrengthChecker.GetStrength(password);
        strengthColor = GetStrengthColor(passwordStrength);
        copyMessage = "";
    }

    private void AnalyzePassword()
    {
        manualPasswordStrength = PasswordStrengthChecker.GetStrength(manualPassword);
        manualStrengthColor = GetStrengthColor(manualPasswordStrength);
    }

    private string GetStrengthColor(string strength)
    {
        return strength switch
        {
            "Muito Fraca" => "red",
            "Fraca" => "orange",
            "Razoável" => "yellow",
            "Forte" => "lightgreen",
            _ => "green"
        };
    }
}

