@page "/"

<div class="inicialBg">
    <div class="TelaCard">
        <div class="logo">
            <h1>Lock<span>Gen</span></h1>
            <p>Gerador & Analisador de senha </p>
        </div>

        <div class="botao">
            <a href="gerador">
                <button>Gerar Senha</button>
            </a>
            <a href="analisador">
                <button>Analisar Senha</button>
            </a>
        </div>

    </div>
</div>